.header {
  display: flex;
  justify-content: space-between;
  background: transparent;
  align-items: center;
  width: 1300px;
  padding-top: 15px;
  margin-inline: auto;

  .title {
    font-weight: 200;
    font-size: 32px;
  }

  .links {
    display: flex;
    gap: 30px;
    a {
      h3 {
        font-weight: 200;
        font-size: 28px
      }
    }
  }
} 