.bg {
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: -2;
  position: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  
}

.darkBg {
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: -1;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
}

.container {
  width: 1305px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  margin-block: 200px;
  h1 {
    font-size: 54px;
    font-weight: 300;
  }
  section {
    margin-block: 150px;
    h2 {
      font-weight: 200;
      font-size: 32px;
    }
  }
  .start {
    display: flex;
    .go {
      font-size: 24px;
      font-weight: 100;
      margin-top: 50px;
      text-decoration: underline white;
    }
  }
}