.back {
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  font-size: 24px;
  font-weight: 100;
  transition: color 0.14s ease-in-out;
  top: 10px;
  left: 10px;

  &:hover {
    color: rgb(167, 173, 255);
  }
}

.all {
  height: 100vh;
  width: 100vw;
  align-items: center;
  margin-top: -100px;
  display: flex;
  justify-content: center;
  gap: 50px;

  .left {
    h1 {
      font-size: 54px;
      font-weight: 300;
    }

    p {
      font-size: 24px;
      font-weight: 200;
      margin-top: 5px;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h1 {
      font-size: 54px;
      font-weight: 300;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .link {
        font-weight: 200;
        font-size: 16px;

        a {
          text-decoration: underline;
        }
      }

      button {
        background-color: transparent;
        outline: none;
        border: none;
        color: white;
        font-weight: 100;
        font-size: 24px;
        cursor: pointer;
        transition: color 0.16s ease-in-out;
        text-decoration: underline;

        &:hover {
          color: rgb(167, 173, 255);
        }
      }

      input {
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 1px solid white;
        color: white;
        font-weight: 100;
        font-size: 24px;
        transition: border 0.16s ease-in-out, box-shadow 0.16s ease-in-out;

        &::placeholder {
          font-weight: 100;
          color: white;
          opacity: 0.35;
        }

        &:focus {
          border-bottom: 1px solid rgb(167, 173, 255);
          box-shadow: 0 5px 10px -10px rgb(167, 173, 255);
        }
      }

      div {
        position: relative;

        svg {
          position: absolute;
          right: 0;
          top: 50%;
          scale: 1.2;
          transform: translateY(-50%);
          cursor: pointer;
        }
      }
    }
  }
}