.container {
  width: 1300px;
  margin-inline: auto;
  margin-left: calc(auto - 1px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  .content {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  h1 {
    font-size: 38px;
    margin-left: -1px;
    font-weight: 100;
    margin-bottom: -5px;
  }

  .selections {
    width: 1300px;
    margin-top: 15px;
    display: flex;
    gap: 30px;
    border: 1px solid rgb(255, 255, 255);
    padding: 20px 35px;
    border-radius: 40px;
    justify-content: space-around;

    button {
      font-size: 24px;
      font-weight: 100;
      color: rgb(255, 255, 255);
      background-color: transparent;
      border: 1px solid rgb(255, 255, 255);
      padding: 10px 15px;
      border-radius: 25px;
      cursor: pointer;
      transition: background-color 0.14s ease-in-out;

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }

    .selected {
      background-color: rgba(255, 255, 255, 0.5);
      transition: background-color 0.14s ease-in-out;

      &:hover {
        background-color: rgba(255, 255, 255, 0.55);
      }
    }
  }
}